---
# Source: cortex/templates/distributor-svc.yaml
apiVersion: v1
kind: Service
metadata:
  name: cortex-distributor
  labels:
    chart: cortex-0.0.1
    release: cortex
    heritage: Helm
    cortex: distributor
spec:
  ports:
    - port: 80
      name: http
      targetPort: http
  selector:
    app: cortex-distributor
    release: cortex
---
# Source: cortex/templates/distributor-dep.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cortex-distributor
  labels:
    chart: cortex-0.0.1
    release: cortex
    heritage: Helm
    cortex: distributor
spec:
  replicas: {{ cortex_distributor_replica }}
  strategy:
    rollingUpdate:
      maxUnavailable: 1
  selector:
    matchLabels:
      app: cortex-distributor
      release: cortex
  template:
    metadata:
      labels:
        app: cortex-distributor
        release: cortex
        cortex: distributor
      annotations:
        prometheus.io/port: "80"
        prometheus.io/scrape: "true"
        sidecar.istio.io/inject: "false"
    spec:
 {% if cortex_taint is defined and profile  == "prod" %}

      tolerations:
        - effect: NoSchedule
          key: dedicated
          operator: Equal
          value: {{ cortex_taint }}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dedicated
                operator: In
                values:
                - {{ cortex_taint }}
{% endif %}

      containers:
      - name: distributor
        image: quay.io/cortexproject/cortex:{{ cortex_version }}
        imagePullPolicy: IfNotPresent
        args:
        - -target=distributor
        #- -log.level=debug
        - -server.http-listen-port=80
        - -config.file=/etc/cortex/config/config.yaml
        ports:
        - containerPort: 80
          name: http
{% if profile  == "prod" %}

        resources:
         limits:
           cpu: {{ cortex_distributor_limit_cpu }}
         requests:
           cpu: {{ cortex_distributor_req_cpu }}
           memory: {{ cortex_distributor_req_mem }}
 {% endif %}

        volumeMounts:
        - mountPath: /etc/cortex/config
          name: cortex
      volumes:
        - configMap:
            name: cortex
          name: cortex
