---
# Source: cortex/templates/ingester-svc.yaml
apiVersion: v1
kind: Service
metadata:
  name: cortex-ingester
  labels:
    chart: cortex-0.0.1
    release: cortex
    heritage: Helm
    cortex: ingester
spec:
  ports:
    - port: 80
      name: http
      targetPort: http
  selector:
    app: cortex-ingester
    release: cortex
---

---
# Source: cortex/templates/ingester-dep.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cortex-ingester
  labels:
    chart: cortex-0.0.1
    release: cortex
    heritage: Helm
    cortex: ingester
spec:
  replicas: {{ cortex_ingester_replica }}

  # Ingesters are not ready for at least 1 min
  # after creation.  This has to be in sync with
  # the ring timeout value, as this will stop a
  # stampede of new ingesters if we should loose
  # some.
  minReadySeconds: 60

  # Having maxSurge 0 and maxUnavailable 1 means
  # the deployment will update one ingester at a time
  # as it will have to stop one (making one unavailable)
  # before it can start one (surge of zero)
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1

  selector:
    matchLabels:
      app: cortex-ingester
      release: cortex
  template:
    metadata:
      labels:
        app: cortex-ingester
        release: cortex
        cortex: ingester
      annotations:
        prometheus.io/port: "80"
        prometheus.io/scrape: "true"
        sidecar.istio.io/inject: "false"
    spec:
      # Give ingesters 80 minutes grace to flush chunks and exit cleanly.
      # Service is available during this time, as long as we don't stop
      # too many ingesters at once.
      terminationGracePeriodSeconds: 4800

 {% if cortex_taint is defined and profile  == "prod" %}

      tolerations:
        - effect: NoSchedule
          key: dedicated
          operator: Equal
          value: {{ cortex_taint }}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dedicated
                operator: In
                values:
                - {{ cortex_taint }}
{% endif %}

      containers:
      - name: ingester
        #image: "quay.io/cortexproject/ingester:master-79bba2f9"
        image: quay.io/cortexproject/cortex:{{ cortex_version }}
        imagePullPolicy: IfNotPresent
        args:
        - -target=ingester
        - "-config.file=/etc/cortex/config/config.yaml"
        #- -log.level=debug
        ports:
        - containerPort: 80
          name: http
        readinessProbe:
          httpGet:
            path: /ready
            port: 80
          initialDelaySeconds: 15
          timeoutSeconds: 1

{% if profile  == "prod" %}

        resources:
         limits:
           cpu: {{ cortex_ingester_limit_cpu }}
           memory: {{ cortex_ingester_limit_mem }}
         requests:
           cpu: {{ cortex_ingester_req_cpu }}
           memory: {{ cortex_ingester_req_mem }}
{% endif %}

        volumeMounts:
        - mountPath: /etc/cortex/config
          name: cortex
      volumes:
        - configMap:
            name: cortex
          name: cortex
