---
# Source: cortex/templates/nginx-config.yaml
kind: ConfigMap
apiVersion: v1
metadata:
  name: cortex-nginx
  labels:
    chart: cortex-0.0.1
    release: cortex
    heritage: Helm
    app: cortex-nginx
    cortex: nginx
data:
  nginx.conf: |-
    worker_processes  5;  ## Default: 1
    error_log  /dev/stderr;
    pid        /tmp/nginx.pid;
    worker_rlimit_nofile 8192;

    events {
      worker_connections  4096;  ## Default: 1024
    }

    http {
      default_type application/octet-stream;
      log_format   main '$remote_addr - $remote_user [$time_local]  $status '
        '"$request" $body_bytes_sent "$http_referer" '
        '"$http_user_agent" "$http_x_forwarded_for"';
      access_log   /dev/stderr  main;
      sendfile     on;
      tcp_nopush   on;
      resolver kube-dns.kube-system.svc.cluster.local;

      server { # simple reverse-proxy
        listen 80;
        proxy_set_header X-Scope-OrgID 0;

        # pass requests for dynamic content to rails/turbogears/zope, et al
        location = /api/prom/push {
          proxy_pass      http://cortex-distributor.cortex.svc.cluster.local$request_uri;
        }

        location ~ /api/prom/.* {
          proxy_pass      http://cortex-querier.cortex.svc.cluster.local$request_uri;
        }
      }
    }

---
# Source: cortex/templates/nginx-svc.yaml
apiVersion: v1
kind: Service
metadata:
  name: cortex-nginx
  labels:
    chart: cortex-0.0.1
    release: cortex
    heritage: Helm
    app: cortex-nginx
    cortex: nginx
spec:
  #type: NodePort
  ports:
  - name: http
    port: 80
  #  nodePort: 30080
  selector:
    name: nginx
---
# Source: cortex/templates/nginx-depl.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cortex-nginx
  labels:
    chart: cortex-0.0.1
    release: cortex
    heritage: Helm
    app: cortex-nginx
    cortex: nginx
spec:
  selector:
    matchLabels:
      cortex: nginx
  replicas: {{ cortex_nginx }}
  template:
    metadata:
      labels:
        name: nginx
        cortex: nginx
      annotations:
        prometheus.io.scrape: "false"
    spec:
      tolerations:
        - effect: NoSchedule
          key: dedicated
          operator: Equal
          value: {{ cortex_taint }}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dedicated
                operator: In
                values:
                - {{ cortex_taint }}
      containers:
      - name: nginx
        image: nginx
        imagePullPolicy: IfNotPresent
        ports:
        - name: http
          containerPort: 80
        volumeMounts:
        - name: config-volume
          mountPath: /etc/nginx
      volumes:
        - name: config-volume
          configMap:
            name: cortex-nginx

