apiVersion: v1
kind: Service
metadata:
  labels:
    app: cassandra
  name: cassandra
spec:
  clusterIP: None
  ports:
    - port: 9042
  selector:
    app: cassandra
---
apiVersion: "apps/v1"
kind: StatefulSet
metadata:
  name: cassandra
spec:
  serviceName: cassandra
  selector:
    matchLabels:
      app: cassandra
  replicas: {{ cassandra_replicas }}
  template:
    metadata:
      labels:
        app: cassandra
    spec:
{% if  profile   == "prod" %}

      tolerations:
        - effect: NoSchedule
          key: dedicated
          operator: Equal
          value: {{ cassandra_taint }}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dedicated
                operator: In
                values:
                - {{ cassandra_taint }}
{% endif %}

      containers:
        - name: cassandra
          image: bitnami/cassandra:latest
          imagePullPolicy: IfNotPresent
          command:
            - bash
            - -ec
            # Node 0 is the password seeder
            - |
              if [[ $HOSTNAME =~ (.*)-0$ ]]; then
                echo "Setting node as password seeder"
                export CASSANDRA_PASSWORD_SEEDER=yes
              else
                # Only node 0 will execute the startup initdb scripts
                export CASSANDRA_IGNORE_INITDB_SCRIPTS=1
              fi
              /entrypoint.sh /run.sh
          ports:
            - containerPort: 7000
              name: intra-node
            - containerPort: 7001
              name: tls-intra-node
            - containerPort: 7199
              name: jmx
            - containerPort: 9042
              name: cql
          env:
            - name: CASSANDRA_SEEDS
              value: cassandra-0.cassandra.cassandra.svc.cluster.local
            - name: MAX_HEAP_SIZE
              value: {{ cassandra_max_heap_size }}
            - name: HEAP_NEWSIZE
              value: {{ cassandra_heap_newsize }}
            - name: CASSANDRA_PASSWORD
              value: {{ cassandra_password }}
            - name: CASSANDRA_CLUSTER_NAME
              value: "Cassandra"
            - name: CASSANDRA_DATACENTER
              value: "DC1"
            - name: CASSANDRA_RACK
              value: "Rack1"
            - name: CASSANDRA_ENDPOINT_SNITCH
              value: GossipingPropertyFileSnitch
          volumeMounts:
            - name: cassandra-data
              mountPath: /var/lib/cassandra/data
{% if profile  == "prod" %}

          resources:
            limits:
              cpu: {{ cassandra_limit_cpu }}
              memory: {{ cassandra_limit_mem }}
            requests:
              cpu: {{ cassandra_request_cpu }}
              memory: {{ cassandra_request_mem }}
{% endif %}

  volumeClaimTemplates:
    - metadata:
        name: cassandra-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: {{ cassandra_storage }}
