---

apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_listener_secret }}
  namespace: {{ klovercloud_namespace }}
type: Opaque
stringData: 
  KLOVERCLOUD_LISTENER_SERVICE_API_ACCESS_TOKEN: {{ klovercloud_api_access_token }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_webapp_secret }}
  namespace: {{ klovercloud_namespace }}
type: Opaque
stringData:
  SL_GOOGLE_CLIENT_ID: "{{ sl_google_client_id }}"
  SL_GITHUB_CLIENT_ID: "{{ sl_github_client_id }}"
  SL_BITBUCKET_CONSUMER_KEY: "{{ sl_bitbucket_consumer_key }}"
  SL_GITLAB_APPLICATION_ID: "{{ sl_bitbucket_application_id }}"
  SL_GITLAB_STATE: "{{ sl_gitlab_state }}"

---

apiVersion: v1
kind: Secret
metadata:
  name: klovercloud-social-login-secret
  namespace: {{ klovercloud_namespace }}
type: Opaque
stringData:
  SL_GOOGLE_CLIENT_ID: "{{ sl_google_client_id }}"
  SL_GOOGLE_CLIENT_SECRET: "{{ sl_google_client_secret }}"
  SL_GITHUB_CLIENT_ID: "{{ sl_github_client_id }}"
  SL_GITHUB_CLIENT_SECRET: "{{ sl_github_client_secret }}"
  SL_BITBUCKET_CONSUMER_KEY: "{{ sl_bitbucket_consumer_key }}"
  SL_BITBUCKET_CONSUMER_SECRET: "{{ sl_bitbucket_consumer_secret }}"
  SL_GITLAB_APPLICATION_ID: "{{ sl_bitbucket_application_id }}"
  SL_GITLAB_APPLICATION_SECRET: "{{ sl_gitlab_application_secret }}"