---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ klovercloud_monitor_deployment_name }}
  namespace: {{ klovercloud_namespace }}
spec:
  replicas: {{ klovercloud_monitor_deployment_replica }}
  selector:
    matchLabels:
      app: {{ klovercloud_monitor_app_label }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 0
  minReadySeconds: 25
  template:
    metadata:
      labels:
        app: {{ klovercloud_monitor_app_label }}
    spec:
      terminationGracePeriodSeconds: 60
      containers:
      - name: {{ klovercloud_monitor_deployment_name }}
        imagePullPolicy: Always
        image: {{ klovercloud_monitor_image }}
        resources:
          requests:
            cpu: {{ klovercloud_monitor_cpu_request }}
            memory: {{ klovercloud_monitor_memory_request }}
          limits:
            cpu: {{ klovercloud_monitor_cpu_limit }}
            memory: {{ klovercloud_monitor_memory_limit }}
        envFrom:
        - secretRef:
            name: {{ klovercloud_mongodb_secret }}
        - secretRef:
            name: {{ klovercloud_facade_secret }}
        - configMapRef:
            name: {{ klovercloud_monitor_envar_configmap_name }}
        ports:
        - containerPort: {{ klovercloud_monitor_container_port }}
        readinessProbe:
          httpGet:
            path: /health
            port: {{ klovercloud_monitor_container_port }}
          initialDelaySeconds: 30
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: {{ klovercloud_monitor_container_port }}
          initialDelaySeconds: 30
          periodSeconds: 10
      imagePullSecrets:
        - name: {{ klovercloud_image_pulling_secret }}

---

apiVersion: v1
kind: Service
metadata:
  name: {{ klovercloud_monitor_service_name }}
  namespace: {{ klovercloud_namespace }}
  labels:
    app: {{ klovercloud_monitor_app_label }}
spec:
  ports:
    - name: http-rest
      port: {{ klovercloud_monitor_service_port }}
      protocol: TCP
      targetPort: {{ klovercloud_monitor_service_target_port }}
  selector:
    app: {{ klovercloud_monitor_app_label }}