---

apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_listener_secret }}
  namespace: {{ klovercloud_namespace }}
type: Opaque
stringData: 
  KLOVERCLOUD_LISTENER_SERVICE_API_ACCESS_TOKEN: {{ klovercloud_api_access_token }}