---
apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_facade_secret }}
  namespace: {{ klovercloud_namespace }}
type: Opaque
stringData: 
  KLOVERCLOUD_FACADE_SERVICE_API_ACCESS_TOKEN: {{ klovercloud_facade_api_access_token }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_facade_secret }}
  namespace: {{ klovercloud_ci_namespace }}
type: Opaque
stringData: 
  KLOVERCLOUD_FACADE_SERVICE_API_ACCESS_TOKEN: {{ klovercloud_facade_api_access_token }}