---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: distributor
  name: distributor
spec:
  ports:
  - name: distributor-http-metrics
    port: 80
    targetPort: 80
  - name: distributor-grpc
    port: 9095
    targetPort: 9095
  selector:
    name: distributor
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: distributor
spec:
  minReadySeconds: 10
  replicas: {{ loki_distributor_replica }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      name: distributor
  template:
    metadata:
      annotations:
        config_hash: 4f80cdaf0db655fa4b3b3cd15c0a0f44
        prometheus.io/port: "80"
        prometheus.io/scrape: "true"
      labels:
        name: distributor
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                name: distributor
            topologyKey: kubernetes.io/hostname
      containers:
      - args:
        - -config.file=/etc/loki/config/config.yaml
        #- -limits.per-user-override-config=/etc/loki/overrides/overrides.yaml
        - -target=distributor
        image: grafana/loki:v1.3.0
        imagePullPolicy: IfNotPresent
        name: distributor
        ports:
        - containerPort: 80
          name: http-metrics
        - containerPort: 9095
          name: grpc
        readinessProbe:
          httpGet:
            path: /ready
            port: 80
          initialDelaySeconds: 15
          timeoutSeconds: 1
 {% if profile  == "prod" %}

        resources:
         limits:
           cpu: {{ loki_distributor_limit_cpu }}
           memory: {{ loki_distributor_limit_mem }}
        requests:
           cpu: {{ loki_distributor_req_cpu }}
           memory: {{ loki_distributor_req_mem }}
{% endif %}

        volumeMounts:
        - mountPath: /etc/loki/config
          name: loki
        - mountPath: /etc/loki/overrides
          name: overrides
      volumes:
      - configMap:
          name: loki
        name: loki
      - configMap:
          name: overrides
        name: overrides
---
