---
# ------------------- klovercloud-ci service ------------------- # 

apiVersion: v1
kind: Service
metadata:
  name: {{ klovercloud_ci_service_name }}
  namespace: {{ klovercloud_ci_namespace }}
  labels:
    app: {{ klovercloud_ci_app_label }}
spec:
  ports:
    - name: http-rest
      port: 80
      protocol: TCP
      targetPort: 8084
  selector:
    app: {{ klovercloud_ci_app_label }}

---
# ------------------- klovercloud-ci deployment ------------------- #
 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ klovercloud_ci_deployment_name }}
  namespace: {{ klovercloud_ci_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ klovercloud_ci_app_label }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 0
  minReadySeconds: 25
  template:
    metadata:
      labels:
        app: {{ klovercloud_ci_app_label }}
    spec:
      terminationGracePeriodSeconds: 60
      containers:
      - name: klovercloud-ci
        imagePullPolicy: Always
        image: {{ klovercloud_ci_image }}
        resources:
          requests:
            cpu: 500m
            memory: 1024Mi
          limits:
            cpu: 1000m
            memory: 1536Mi
        env:
        - name: RUN_MODE
          value: "PRODUCTION"
        - name: IS_K8
          value: "True"
        - name: DATABASE_CONNECTION_STR
          value: {{ klovercloud_ci_db_connection_str }}
        - name: DATABASE_NAME
          value: {{ klovercloud_ci_db_name }}
        - name: WEBSOCKET_SERVER_URL
          value: {{ klovercloud_ci_websocket_service_url }}
        - name: WEBSOCKET_SERVER_ACCESS_TOKEN
          value: {{ klovercloud_ci_websocket_service_access_token }}
        - name: PIPELINE_SERVICE_BASE_URL
          value: {{ klovercloud_ci_pipeline_service_url }}
        - name: NEXUS_TOKEN
          value: {{ klovercloud_ci_nexus_token }}
        - name: NEXUS_USER
          value: {{ klovercloud_ci_nexus_username }}
        - name: NEXUS_PASSWORD
          value: {{ klovercloud_ci_nexus_password }}
        - name: NEXUS_MAVEN_PUBLIC_URL
          value: {{ klovercloud_ci_nexus_maven_public_url }}
        - name: NEXUS_MAVEN_RELEASES_URL
          value: {{ klovercloud_ci_nexus_maven_releases_url }}
        - name: NEXUS_MAVEN_SNAPSHOTS_URL
          value: {{ klovercloud_ci_nexus_maven_snapshot_url }}
        - name: NEXUS_NPM_GROUP_URL
          value: {{ klovercloud_ci_nexus_npm_group_url }}
        - name: GENERATOR_IMAGE_PULL_SECRET
          value: {{ klovercloud_ci_image_pulling_secret }}
        ports:
        - containerPort: 8084
        readinessProbe:
          httpGet:
            path: /health
            port: 8084
          initialDelaySeconds: 30
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 8084
          initialDelaySeconds: 30
          periodSeconds: 10
      serviceAccount: {{ klovercloud_ci_service_account_name }}
      imagePullSecrets:
      - name: {{ klovercloud_ci_image_pulling_secret }}

---
# ------------------- CI Service Account ------------------- #

apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    k8s-app: {{ APP_LABEL }}
  name: {{ klovercloud_ci_service_account_name }}
  namespace: {{ klovercloud_ci_namespace }}


---
# ------------------- Role Binding ------------------- #

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: klovercloud-ci-rolebinding
  namespace: {{ klovercloud_ci_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: {{ klovercloud_ci_service_account_name }}
    namespace: {{ klovercloud_ci_namespace }}

---
# ------------------- Pipeline service ------------------- #
kind: Service
apiVersion: v1
metadata:
  name: {{ klovercloud_ci_pipeline_service_name }}
  namespace:  {{ klovercloud_ci_namespace }}
spec:
  type: ExternalName
  externalName: {{ klovercloud_ci_pipeline_service_external_name }}
  ports:
  - port: 80

---
# ------------------- Websocket service ------------------- #
kind: Service
apiVersion: v1
metadata:
  name: {{ klovercloud_ci_websocket_service_name }}
  namespace: {{ klovercloud_ci_namespace }}
spec:
  type: ExternalName
  externalName: {{ klovercloud_ci_websocket_service_external_name }}
  ports:
  - port: 80
