---
apiVersion: v1
items:
- apiVersion: v1
  kind: Service
  metadata:
    creationTimestamp: null
    labels:
      io.kompose.service: {{ klovercloud_kafka_io_kompose_service }}
    name: {{ klovercloud_kafka_service_name }}
    namespace: {{ klovercloud_namespace }}
  spec:
    ports:
    - name: "9092"
      port: {{ klovercloud_kafka_service_port }}
      targetPort: {{ klovercloud_kafka_target_port }}
    selector:
      io.kompose.service: {{ klovercloud_kafka_io_kompose_service }}
  status:
    loadBalancer: {}
- apiVersion: v1
  kind: Service
  metadata:
    creationTimestamp: null
    labels:
      io.kompose.service: {{ klovercloud_zookeeper_io_kompose_service }}
    name: {{ klovercloud_zookeeper_service_name }}
    namespace: {{ klovercloud_namespace }}
  spec:
    ports:
    - name: "2181"
      port: {{ klovercloud_zookeeper_service_port }}
      targetPort: {{ klovercloud_zookeeper_target_port }}
    selector:
      io.kompose.service: {{ klovercloud_zookeeper_io_kompose_service }}
  status:
    loadBalancer: {}
- apiVersion: apps/v1beta1
  kind: StatefulSet
  metadata:
    name: {{ klovercloud_kafka_statefulset_name }}
    namespace: {{ klovercloud_namespace }}
  spec:
    serviceName: {{ klovercloud_kafka_service_name }}
    replicas: {{ klovercloud_kafka_replica }}
    template:
      metadata:
        labels:
          app: {{ klovercloud_kafka_app_label }}
          io.kompose.service: {{ klovercloud_kafka_io_kompose_service }}
      spec:
        initContainers:
        - name: volume-permissions
          image: busybox
          command: ['sh', '-c', 'chmod -R g+rwX /bitnami']
          volumeMounts:
          - mountPath: /bitnami
            name: kafka-data
        terminationGracePeriodSeconds: 10
        containers:
        - name: kafka
          image: {{ klovercloud_kafka_image }}
          imagePullPolicy: IfNotPresent
          env:
          - name: KAFKA_ZOOKEEPER_CONNECT
            value: zookeeper:2181
          - name: ALLOW_PLAINTEXT_LISTENER
            value: "yes"
          ports:
          - containerPort: {{ klovercloud_kafka_container_port }}
          resources: {}
          volumeMounts:
          - name: kafka-data
            mountPath: /bitnami/kafka
    volumeClaimTemplates:
    - metadata:
        name: kafka-data
        namespace: {{ klovercloud_namespace }}
        labels:
          io.kompose.service: {{ klovercloud_kafka_data_io_kompose_service }}
      spec:
        accessModes:
        - ReadWriteOnce
        storageClassName: rook-ceph-block
        resources:
          requests:
            storage: {{ klovercloud_kafka_storage }}
- apiVersion: extensions/v1beta1
  kind: Deployment
  metadata:
    creationTimestamp: null
    name: {{ klovercloud_zookeeper_deployment_name }}
    namespace: {{ klovercloud_namespace }}
  spec:
    replicas: {{ klovercloud_zookeeper_replica }}
    strategy:
      type: Recreate
    template:
      metadata:
        creationTimestamp: null
        labels:
          io.kompose.service: {{ klovercloud_zookeeper_io_kompose_service }}
      spec:
        initContainers:
        - name: volume-permissions
          image: busybox
          command: ['sh', '-c', 'chmod -R g+rwX /bitnami']
          volumeMounts:
          - mountPath: /bitnami
            name: zookeeper-data
        containers:
        - image: {{ klovercloud_zookeeper_image }}
          name: zookeeper
          env:
          - name: ALLOW_ANONYMOUS_LOGIN
            value: "yes"
          ports:
          - containerPort: {{ klovercloud_zookeeper_container_port }}
          resources: {}
          volumeMounts:
          - mountPath: /bitnami/zookeeper
            name: zookeeper-data
        restartPolicy: Always
        volumes:
        - name: zookeeper-data
          persistentVolumeClaim:
            claimName: zookeeper-data
  status: {}
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    creationTimestamp: null
    labels:
      io.kompose.service: {{ klovercloud_zookeeper_data_io_kompose_service }}
    name: zookeeper-data
    namespace: {{ klovercloud_namespace }}
  spec:
    accessModes:
    - ReadWriteOnce
    storageClassName: rook-ceph-block
    resources:
      requests:
        storage: {{ klovercloud_zookeeper_storage }}
  status: {}
kind: List
metadata: {}