---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ klovercloud_management_deployment_name }}
  namespace: {{ klovercloud_namespace }}
spec:
  replicas: {{ klovercloud_management_replica }}
  selector:
    matchLabels:
      app: {{ klovercloud_management_app_label }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 0
  minReadySeconds: 25
  template:
    metadata:
      annotations:
        prometheus.io/path: "/prometheus"
        prometheus.io/port: '8081'
        prometheus.io/scrape: 'true'
      labels:
        app: {{ klovercloud_management_app_label }}
    spec:
      terminationGracePeriodSeconds: 60
      containers:
      - name:  {{ klovercloud_management_deployment_name }}
        imagePullPolicy: Always
        image: {{ klovercloud_management_image }}
        resources:
          requests:
            cpu: {{ klovercloud_management_cpu_request }}
            memory: {{ klovercloud_management_memory_request }}
          limits:
            cpu: {{ klovercloud_management_cpu_limit }}
            memory: {{ klovercloud_management_memory_limit }}
        env:
        - name: DEVELOPER_ALIAS
          value: {{ klovercloud_developer_alias }}
        - name: MONGO_SERVER
          value: {{ klovercloud_mongodb_service_name }}
        - name: MONGO_PORT
          value: {{ klovercloud_mongodb_service_port }}
        - name: MONGO_AUTH_DATABASE
          value: {{ klovercloud_mongo_auth_db_name }}
        - name: MONGO_USERNAME
          value: {{ klovercloud_mongo_root_username }}
        - name: MONGO_PASSWORD
          value: {{ klovercloud_mongodd_root_password }}
        - name: KAFKA_SERVER
          value: {{ klovercloud_kafka_io_kompose_service }}
        - name: KAFKA_PORT
          value: {{ klovercloud_kafka_service_port }}
        - name: KLOVERCLOUD_FACADE_SERVICE_NAME
          value: {{ klovercloud_facade_service_name }}
        - name: KLOVERCLOUD_FACADE_SERVICE_API_ACCESS_TOKEN
          value: {{ klovercloud_facade_api_access_token }}
        - name: CONNECT_TO_KLOVERCLOUD_FACADE_WEB_SOCKET
          value: "false"
        - name: KLOVERCLOUD_PIPELINE_SERVICE_NAME
          value: "klovercloud-pipeline"
        - name: KLOVERCLOUD_LISTENER_SERVICE_NAME
          value: {{ klovercloud_listener_service_name }}
        - name: KLOVERCLOUD_LISTENER_SERVICE_API_ACCESS_TOKEN
          value: {{ klovercloud_api_access_token }}
        - name: KLOVERCLOUD_OBJECT_STORAGE_SERVICE_NAME
          value: "klovercloud-object-storage"
        - name: KLOVERCLOUD_HARBOR_SERVICE_NAME
          value: "klovercloud-harbor"
        - name: KLOVERCLOUD_CI_SERVICE_NAME
          value: {{ klovercloud_management_ci_service_name }}
        - name: CI_TECHNOLOGY
          value: {{ klovercloud_ci_tecknology }}
        - name: CLUSTER_RESOURCE_LIMIT_FACTOR_CPU
          value: {{ klovercloud_management_cluster_resource_limit_factor_cpu }}
        - name: CLUSTER_RESOURCE_LIMIT_FACTOR_MEMORY
          value: {{ klovercloud_management_cluster_resource_limit_factor_memory }}
        - name: CLUSTER_RESOURCE_LIMIT_FACTOR_STORAGE
          value: {{ klovercloud_management_cluster_resource_limit_factor_storage }}
        ports:
        - containerPort: {{ klovercloud_management_container_port1 }}
        - containerPort: {{ klovercloud_management_container_port2 }}
        readinessProbe:
          httpGet:
            path: /
            port: {{ klovercloud_management_container_port1 }}
          initialDelaySeconds: 80
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: {{ klovercloud_management_container_port1 }}
          initialDelaySeconds: 80
          periodSeconds: 10
      imagePullSecrets:
      - name: {{ klovercloud_image_pulling_secret }}


--- 

apiVersion: v1
kind: Service
metadata:
  name: {{ klovercloud_management_service_name }}
  namespace: {{ klovercloud_namespace }}
  labels:
    app: {{ klovercloud_management_app_label }}
spec:
  ports:
  - name: http-rest
    port: {{ klovercloud_management_service_port }}
    protocol: TCP
    targetPort: {{ klovercloud_management_target_port }}
  - name: http-metrics
    port: {{ klovercloud_management_metrics_port }}
    protocol: TCP
    targetPort: {{ klovercloud_management_metrics_target_port }}
  selector:
    app: {{ klovercloud_management_app_label }}

---

kind: Service
apiVersion: v1
metadata:
  name: {{ klovercloud_management_ci_service_name }}
  namespace: {{ klovercloud_namespace }}
spec:
  type: ExternalName
  externalName: {{ klovercloud_management_ci_external_service_name }}
  ports:
  - port: {{ klovercloud_management_ci_service_port }}