---

apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_super_admin_secret }}
  namespace: {{ klovercloud_namespace }}
type: Opaque
stringData:
  username: {{ klovercloud_super_admin_username }}
  password: {{ klovercloud_super_admin_password }}