
---
apiVersion: app.klovercloud.com/v1alpha1
kind: Nexus
metadata:
  name: {{ klovercloud_nexus_cr }}
  namespace: {{ klovercloud_nexus_namespace }}
spec:
  # Add fields here
  replicas: {{ klovercloud_nexus_replica }}
  claim: nexus-claim-pvc
{% if profile  == "prod" %}
  resources:
    limits:
      memory: {{ klovercloud_nexus_memory_limit }}
      cpu: {{ klovercloud_nexus_cpu_limit }}
    requests:
      memory: {{ klovercloud_nexus_memory_request }}
      cpu: {{ klovercloud_nexus_cpu_request }}
{% endif %}

