---

apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_harbor_admin_secret_name }}
  namespace: {{ klovercloud_harbor_namespace }}
type: Opaque
stringData: 
  HARBOR_ADMIN_USERNAME: {{ klovercloud_harbor_admin }}
  HARBOR_ADMIN_PASSWORD: {{ klovercloud_harbor_admin_password }}
  HARBOR_ADMIN_AUTH_TOKEN: "Basic  {{ (klovercloud_harbor_admin + ':' + klovercloud_harbor_admin_password) | b64encode }} "

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_harbor_admin_secret_name }}
  namespace: {{ klovercloud_namespace }}
type: Opaque
stringData: 
  HARBOR_ADMIN_USERNAME: {{ klovercloud_harbor_admin }}
  HARBOR_ADMIN_PASSWORD: {{ klovercloud_harbor_admin_password }}
  HARBOR_ADMIN_AUTH_TOKEN: {{ klovercloud_harbor_admin_auth_token }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_harbor_db_secret }}
  namespace: {{ klovercloud_harbor_namespace }}
type: Opaque
stringData: 
  POSTGRESQL_PASSWORD: {{ klovercloud_harbor_postgresql_password }}
  CLAIR_DB_PASSWORD: {{ klovercloud_harbor_clair_db_password }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_rook_ceph_object_storage_admin_secret }}
  namespace: {{ klovercloud_rook_ceph_namespace }}
type: Opaque
stringData: 
  OBJECT_STORAGE_ADMIN_USER_ID: {{ klovercloud_rook_ceph_object_storage_user_id }}    // no need to generate this one
  OBJECT_STORAGE_ADMIN_ACCESS_KEY: {{ klovercloud_rook_ceph_object_storage_access_key }}
  OBJECT_STORAGE_ADMIN_SECRET_KEY: {{ klovercloud_rook_ceph_object_storage_secret_key }}


---

apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_rook_ceph_object_storage_admin_secret }}
  namespace: {{ klovercloud_namespace }}
type: Opaque
stringData: 
  OBJECT_STORAGE_ADMIN_USER_ID: {{ klovercloud_rook_ceph_object_storage_user_id }}    // no need to generate this one
  OBJECT_STORAGE_ADMIN_ACCESS_KEY: {{ klovercloud_rook_ceph_object_storage_access_key }}
  OBJECT_STORAGE_ADMIN_SECRET_KEY: {{ klovercloud_rook_ceph_object_storage_secret_key }}

---


apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_mongodb_secret }}
  namespace: {{ klovercloud_namespace }}
type: Opaque
stringData: 
  MONGO_USERNAME: {{ klovercloud_mongo_root_username }}
  MONGO_PASSWORD: {{ klovercloud_mongodb_root_password }}


---

apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_super_admin_secret }}
  namespace: {{ klovercloud_namespace }}
type: Opaque
stringData: 
  ADMIN_USERNAME: {{ klovercloud_super_admin_username }}
  ADMIN_PASSWORD: {{ klovercloud_super_admin_password }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ klovercloud_aws_route53_secret }}
  namespace: {{ klovercloud_namespace }}
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: {{ klovercloud_aws_access_key_id }}
  AWS_SECRET_ACCESS_KEY: {{ klovercloud_aws_secret_access_key }}