---
apiVersion: v1
kind: Service
metadata:
  name: {{ klovercloud_mongodb_service_name }}
  namespace: {{ klovercloud_namespace }}
  labels:
    app: {{ klovercloud_mongdb_app_label }}
  annotations:
spec:
  type: ClusterIP
  ports:
  - name: {{ klovercloud_mongodb_service_name }}
    port: {{ klovercloud_mongodb_service_port }}
    protocol: TCP
    targetPort: {{ klovercloud_mongodb_service_target_port }}
    nodePort:
  - name: metrics
    port: {{ klovercloud_mongodb_metrics_port }}
    protocol: TCP
    targetPort: {{ klovercloud_mongodb_metrics_target_port }}
    nodePort:
  selector:
    app: {{ klovercloud_mongdb_app_label }}
    component: primary
---
apiVersion: v1
kind: Service
metadata:
  name: {{ klovercloud_mongodb_nodeport_service_name }}
  namespace:  {{ klovercloud_namespace }}
  labels:
    app: {{ klovercloud_mongdb_app_label }}
  annotations:
spec:
  type: NodePort
  ports:
  - name: {{ klovercloud_mongodb_statefulset_name }}
    port: {{ klovercloud_mongodb_service_port }}
    protocol: TCP
    targetPort: {{ klovercloud_mongodb_service_target_port }}
    nodePort: {{ klovercloud_mongodb_service_node_port }}
  - name: metrics
    port: {{ klovercloud_mongodb_metrics_port }}
    protocol: TCP
    targetPort: {{ klovercloud_mongodb_metrics_target_port }}
    nodePort: {{ klovercloud_mongodb_metrics_node_port }}
  selector:
    app: {{ klovercloud_mongdb_app_label }}
    component: primary

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ klovercloud_mongodb_statefulset_name }}
  namespace:  {{ klovercloud_namespace }}
  labels:
    app: {{ klovercloud_mongdb_app_label }}
spec:
  serviceName: {{ klovercloud_mongodb_service_name }}
  replicas: {{ klovercloud_mongodb_replica }}
  selector:
    matchLabels:
      app: {{ klovercloud_mongdb_app_label }}
      component: primary
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      name: ''
      annotations:
        prometheus.io/port: '9216'
        prometheus.io/scrape: 'true'
      labels:
        app: {{ klovercloud_mongdb_app_label }}
        component: primary
    spec:
      terminationGracePeriodSeconds: 60
      securityContext:
      containers:
      - name: {{ klovercloud_mongodb_statefulset_name }}
        imagePullPolicy: IfNotPresent
        image: {{ klovercloud_mongodb_image }}
{% if profile  == "prod" %}
        resources:
          requests:
            cpu: {{ klovercloud_mongodb_cpu_request }}
            memory: {{ klovercloud_mongodb_memory_request }}
          limits:
            cpu: {{ klovercloud_mongodb_cpu_limit }}
            memory: {{ klovercloud_mongodb_memory_limit }}
{% endif %}
        command:
        env:
        - name: MONGODB_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
            secretKeyRef:
        - name: MONGODB_REPLICA_SET_MODE
          value: primary
        - name: MONGODB_REPLICA_SET_NAME
          value: {{ klovercloud_mongdb_app_label }}-2020030913370139
        - name: MONGODB_REPLICA_SET_KEY
          valueFrom:
            secretKeyRef:
              name: {{ klovercloud_mongodb_secret }}
              key: MONGO_PASSWORD
        - name: MONGODB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ klovercloud_mongodb_secret }}
              key: MONGO_PASSWORD
        - name: MONGODB_ADVERTISED_HOSTNAME
          value: "$(MONGODB_POD_NAME).mongodb.klovercloud.svc.cluster.local"
        envFrom:
        ports:
        - name: {{ klovercloud_mongodb_statefulset_name }}
          containerPort: {{ klovercloud_mongodb_containers_port }}
        volumeMounts:
        - mountPath: "/bitnami/mongodb"
          name: data
        readinessProbe:
          exec:
            command:
            - mongo
            - "--eval"
            - db.adminCommand('ping')
          failureThreshold: 6
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        livenessProbe:
          exec:
            command:
            - pgrep
            - mongod
          failureThreshold: 6
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        securityContext: {}
      - name: metrics
        imagePullPolicy: IfNotPresent
        image: {{ klovercloud_mongodb_exporter_image }}
{% if profile  == "prod" %}
        resources:
          requests:
            cpu: {{ klovercloud_mongodb_metrics_cpu_request }}
            memory: {{ klovercloud_mongodb_metrics_memory_request }}
          limits:
            cpu: {{ klovercloud_mongodb_metrics_cpu_limit }}
            memory: {{ klovercloud_mongodb_metrics_memory_limit }}
{% endif %}
        command:
        - sh
        - "-c"
        - "/bin/mongodb_exporter --mongodb.uri mongodb://root:${MONGODB_ROOT_PASSWORD}@localhost:27017/admin "
        env:
        - name: MONGODB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ klovercloud_mongodb_secret }}
              key: MONGO_PASSWORD
        envFrom:
        ports:
        - name: metrics
          containerPort: {{ klovercloud_mongodb_metrics_container_port }}
        volumeMounts:
        readinessProbe:
          failureThreshold: 6
          httpGet:
            path: "/metrics"
            port: {{ klovercloud_mongodb_metrics_container_port }}
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        livenessProbe:
          failureThreshold: 6
          httpGet:
            path: "/metrics"
            port: {{ klovercloud_mongodb_metrics_container_port }}
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        securityContext: {}
      imagePullSecrets:
      - name: {{ klovercloud_image_pulling_secret }}
      volumes: []
  volumeClaimTemplates:
  - metadata:
      name: data
      namespace: {{ klovercloud_namespace }}
      labels:
        app: {{ klovercloud_mongdb_app_label }}
    spec:
      accessModes:
      - ReadWriteOnce
      storageClassName: rook-ceph-block
      resources:
        requests:
          storage: {{ klovercloud_mongodb_storage }}